/* For tiny */
@media screen and (max-width: 1200px) {
    .image-target-menu {
        flex-direction: column;
        gap: 15px;
    }

    .MuiCardMedia-root {
        width: 200px !important;
    }

    .image-target-menu {
        width: auto;
    }
}

/* For big */
@media screen and (min-width: 1200px) {
    .image-target-menu {
        flex-direction: row;
        justify-content: space-around;
    }

    .MuiCardMedia-root {
        width: 300px !important;
    }

    .image-target-menu {
        width: 100%;
    }
}

.image-target-menu {
    display: flex;
}

.image-target-menu-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MuiCard-root {
    background-color: #DAEFEF !important;
    height: auto !important;
}

.MuiCard-root:hover {
    background-color: #B9C5DF !important;

}

.image-target-menu-option * {
    margin: 15px;
}