.container {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.image-target-menu {
    padding: 25px;
    display: flex;
    justify-content: center;
    width: auto;
    gap: 40px;
}

.image-target-menu-option {
    display: flex;
    flex-direction: column;
    background-color: #DAEFEF;
    width: auto;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.image-target-menu-option:hover {
    background-color: #B9C5DF;
}

@media only screen and (max-width: 1400px) {
    .image-target-menu {
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        gap: 40px;
    }
}