.upload-container {
    display: flex;
    justify-content: center;
}

.container-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    height: 90vh;
}

.upload-options {
    margin: auto;
}

.action-menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 5vh;
    gap: 1%;
}