.upload-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    margin: 10%;
    align-items: center;
}

.action-menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 5%;
    gap: 1%;
}