.top-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hidden {
    visibility: hidden;
}

.results {
    width: 100%;
}

.category-accordion {
    background-color: #DAEFEF !important;
    margin-bottom: 15px !important;
}

.result-accordion {
    margin-bottom: 15px !important;
}